{% extends "./includes/_layout.twig" %}

{% block content %}
	<!-- out --> 
	<div class="out">

		{% include "./includes/_header.twig" %}
		<!-- search -->
		<div class="search is-white is-big">
			<div class="search__in">
				<div class="search__right">
					<a href="#" class="dotted">Все категории</a>
					<a href="#" class="location">
						<span class="icon icon-uni24"></span>
						<span class="location__text">в Москве</span>
					</a>
				</div>
				<div class="search__form">
					<form action="">
						<input type="text" placeholder="Что вы хотели бы оплатить?">
						<button class="search__btn" type="button">
							<i class="icon icon-uni4B"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
		<!-- l -->
		<div class="l">
			<div class="l__in">
				<!-- categories -->
				<div class="categories is-mod">
					<div class="categories__in">
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/beeline2.svg" alt="img"></div>
							<div class="categories__name">Билайн</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/megaphone.svg" alt="img"></div>
							<div class="categories__name">Мегафон</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/mts.svg" alt="img"></div>
							<div class="categories__name">МТС</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/rostelecom.svg" alt="img"></div>
							<div class="categories__name">Ростелеком</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/tele2.svg" alt="img"></div>
							<div class="categories__name">Tele2</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/yota.svg" alt="img"></div>
							<div class="categories__name">Yota</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/xyz-operator.svg" alt="img"></div>
							<div class="categories__name">XYZ Operator</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/beeline2.svg" alt="img"></div>
							<div class="categories__name">Билайн</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/beeline2.svg" alt="img"></div>
							<div class="categories__name">Билайн</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/megaphone.svg" alt="img"></div>
							<div class="categories__name">Мегафон</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/mts.svg" alt="img"></div>
							<div class="categories__name">МТС</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/rostelecom.svg" alt="img"></div>
							<div class="categories__name">Ростелеком</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/tele2.svg" alt="img"></div>
							<div class="categories__name">Tele2</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/yota.svg" alt="img"></div>
							<div class="categories__name">Yota</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/xyz-operator.svg" alt="img"></div>
							<div class="categories__name">XYZ Operator</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/beeline2.svg" alt="img"></div>
							<div class="categories__name">Билайн</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/beeline2.svg" alt="img"></div>
							<div class="categories__name">Билайн</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/megaphone.svg" alt="img"></div>
							<div class="categories__name">Мегафон</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/mts.svg" alt="img"></div>
							<div class="categories__name">МТС</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/rostelecom.svg" alt="img"></div>
							<div class="categories__name">Ростелеком</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/tele2.svg" alt="img"></div>
							<div class="categories__name">Tele2</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/yota.svg" alt="img"></div>
							<div class="categories__name">Yota</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/xyz-operator.svg" alt="img"></div>
							<div class="categories__name">XYZ Operator</div>
						</div>
						<div class="categories__item">
							<div class="categories__img"><img src="img/svg/beeline2.svg" alt="img"></div>
							<div class="categories__name">Билайн</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item is-border">
			<a href="#" class="btn-text btn-text_center"><span>Показать еще провайдеров</span></a>
		</div>
	</div>
 
	{% include "./includes/_footer.twig" %}

{% endblock %}