{% extends "./includes/_layout.twig" %}

{% block content %}
	<!-- out --> 
	<div class="out">

		{% include "./includes/_header.twig" %}
		<!-- l -->
		<div class="l l_cab">
			<div class="l__in">
				<!-- l-col1 -->
				<div class="l-col1">
					{% include "./includes/_nav.twig" %}
				</div>
				<!-- center -->
				<div class="center">
					<!-- wind -->
					<div class="wind is-gray">
						<div class="wind__top">Изменение пароля для входа</div>
						<div class="wind__in">
							<!-- form -->
							<form action="" class="form">
								<div class="form__row">
									<div class="form__label">
										<label for="old-password">Старый пароль:</label>
									</div>
									<div class="form__right">
										<input type="password" class="input" id="old-password" placeholder="Не менее 6 символов" value="11111111111111">
										<div class="tooltip is-active">
											<div class="tooltip__in">Ваш пароль успешно изменён!</div>
										</div>
									</div>
								</div>
								<div class="form__row">
									<div class="form__label">
										<label for="new-password">Новый пароль:</label>
									</div>
									<div class="form__right">
										<input type="password" class="input" id="new-password" placeholder="Не менее 6 символов">
									</div>
								</div>
								<div class="form__row">
									<div class="form__label">
										<label for="new-password-2">Повторите ввод:</label>
									</div>
									<div class="form__right">
										<input type="password" class="input" id="new-password-2" placeholder="Не опечатайтесь, плиз">
									</div>
								</div>
								<div class="form__row">
									<div class="form__right">
										<button class="btn" type="button">Сохранить</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- l-col2 -->
				<div class="l-col2">
					<!-- wind -->
					<div class="wind is-yellow">
						<div class="wind__top">Безопасный пароль. Это как?</div>
						<div class="wind__in">
							<!-- inf -->
							<div class="inf">
								<div class="inf__row">
									<i class="icon icon-uni72"></i>
									<p>Используйте 8 и более знаков.</p>
								</div>
								<div class="inf__row">
									<i class="icon icon-uni72"></i>
									<p>Не используйте один и тот же пароль для почты и для финансовых операций.</p>
								</div>
								<div class="inf__row">
									<i class="icon icon-uni72"></i>
									<p>Регулярно меняйте свои пароли.</p>
								</div>
								<div class="inf__row">
									<i class="icon icon-uni72"></i>
									<p>Чем больше разнообразных символов вы используете в пароле, тем лучше.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
 
	{% include "./includes/_footer.twig" %}

{% endblock %}