{% extends "./includes/_layout.twig" %}

{% block content %}
	<!-- out --> 
	<div class="out">

		{% include "./includes/_header.twig" %}
		<!-- l -->
		<div class="l">
			<div class="l__in">
				<!-- l-col1 -->
				<div class="l-col1 is-mod">
					<!-- wind -->
					<div class="wind">
						<div class="wind__top">
							<span>Кошельки</span>
							<button class="btn btn_greeen" type="button">Пополнить</button>
						</div>
						<div class="wind__in">
							<!-- item -->
							<a href="#" class="item">
								<div class="item__in">
									<div class="item__left">
										<span class="purse">123 456 789</span>
									</div>
									<div class="item__right">
										<div class="sum">
											<div class="sum__bal">10 000</div>
											<span class="sum__curr">₽</span>
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="item__in">
									<div class="item__left">
										<span class="purse">123 456 790</span>
									</div>
									<div class="item__right">
										<div class="sum">
											<div class="sum__bal">25<span class="sum__res">.02</span></div>
											<span class="sum__curr">$</span>
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="item__in">
									<div class="item__left">
										<span class="purse">123 456 791</span>
									</div>
									<div class="item__right">
										<div class="sum">
											<div class="sum__bal">15 000<span class="sum__res">.00</span></div>
											<span class="sum__curr">₽</span>
										</div>
									</div>
									<div class="item__right">
										<div class="sum is-queue">
											В очереди: <span>10 000.43</span> 
											<span class="sum__curr">₽</span>
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="item__in">
									<div class="item__left">
										<span class="purse">123 456 792</span>
									</div>
									<div class="item__right">
										<div class="sum">
											<div class="sum__bal">60 000<span class="sum__res">.00</span></div>
											<span class="sum__curr">₽</span>
										</div>
									</div>
									<div class="item__right">
										<div class="sum is-queue">
											В очереди: <span class="sum__bal">45 368.94</span> 
											<span class="sum__curr">₽</span>
										</div>
									</div>
								</div>
								<div class="item__stat">
									<div class="stat">Кошелек заблокирован</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="btn-text btn-text_center">+ Добавить новый</div>
							</a>
						</div>
					</div>
					<!-- wind -->
					<div class="wind">
						<div class="wind__top">Карты</div>
						<div class="wind__in">
							<!-- item -->
							<a href="#" class="item">
								<div class="item__left">Альфа Банк</div>
								<div class="item__right">
									<div class="card">
										<div class="card__numb">**** 4561</div>
										<div class="card__img">
											<img src="img/svg/mc.svg" alt="img">
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="item__left">Российский Национальный Коммерческий Банк</div>
								<div class="item__right">
									<div class="card">
										<div class="card__numb">**** 9988</div>
										<div class="card__img">
											<img src="img/svg/visa.svg" alt="img">
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="btn-text btn-text_center">+ Привязать новую</div>
							</a>
						</div>
					</div>
				</div>
				<!-- center -->
				<div class="center is-mod">
					<!-- wind -->
					<div class="wind is-gray">
						<div class="wind__top">
							<ul class="breadcrumbs">
								<li><a href="#">Кошельки и карты</a></li>
								<li><span>Подтверждение привязки карты</span></li>
							</ul>
						</div>
						<div class="wind__in">
							<div class="wind__wrap">
								<form action="" class="form is-done">
									<!-- ticket -->
									<div class="ticket"> 
										<div class="ticket__row">
											<div class="ticket__label">Номер карты</div>
											<div class="ticket__data">1632 53XX XXXX 4374</div>
										</div>
										<div class="ticket__row">
											<div class="ticket__label">Имя и фамилия владельца:</div>
											<div class="ticket__data">SHARAPOV TIMUR</div>
										</div>
									</div>
									<p>На вашей карте временно заблокирована случайная сумма от 1 до 5 рублей. Укажите эту сумму в поле ниже.</p>
									<div class="form__row">
										<label for="price1" class="form__label">
											<span>Списанная сумма:</span>
										</label>
										<div class="form__right">
											<div class="form__price">
												<input type="text" class="input" name="price1" id="price1" placeholder="2">
											</div>
											<div class="form__text"><span>руб.</span></div>
											<div class="form__price">
												<input type="text" class="input" name="price2" id="price2" placeholder="07">
											</div>
											<div class="form__text"><span>коп.</span></div>
										</div>
									</div>
									<div class="form__row">
										<div class="form__label is-mod">
											<a href="#" class="prev">Назад</a>
										</div>
										<div class="form__right">
											<button class="btn btn_big" type="submit">Пополнить</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- l-col2 -->
				<div class="l-col2">
					<!-- slider -->
					<div class="slider js-slider-wrap">
						<button class="slider__close js-slider-close" type="button">
							<i class="icon icon-uniF9"></i>
						</button>
						<div class="arrows"></div>
						<div class="slider__wrap js-slider">
							<div class="slider__slide">
								<div class="slider__in">
									<div class="slider__title">Хорошие новости!</div>
									<div class="slider__img">
										<img src="img/svg/robot.svg" alt="img">
									</div>
									<div class="slider__text">Теперь с помощью Robowallet можно оплачивать счета за коммунальные услуги. А выплату абонентской платы за связь автоматизировать!</div>
								</div>
								<a href="#" class="btn btn_blue">Попробовать сейчас</a>
							</div>
							<div class="slider__slide">
								<div class="slider__in">
									<div class="slider__title">2 Хорошие новости!</div>
									<div class="slider__img">
										<img src="img/svg/robot.svg" alt="img">
									</div>
									<div class="slider__text">2 Теперь с помощью Robowallet можно оплачивать счета за коммунальные услуги. А выплату абонентской платы за связь автоматизировать!</div>
								</div>
								<a href="#" class="btn btn_blue">Попробовать сейчас</a>
							</div>
							<div class="slider__slide">
								<div class="slider__in">
									<div class="slider__title">3 Хорошие новости!</div>
									<div class="slider__img">
										<img src="img/svg/robot.svg" alt="img">
									</div>
									<div class="slider__text">3 Теперь с помощью Robowallet можно оплачивать счета за коммунальные услуги. А выплату абонентской платы за связь автоматизировать!</div>
								</div>
								<a href="#" class="btn btn_blue">Попробовать сейчас</a>
							</div>
						</div>
					</div>
					<!-- wind -->
					<div class="wind">
						<div class="wind__top">Вы часто оплачиваете</div>
						<div class="wind__in">
							<!-- item -->
							<div class="item">
								<div class="translations">
									<a href="#" class="translations__reg is-active">
										<i class="icon icon-reg"></i>
									</a>
									<a href="#" class="translations__wrap">
										<div class="translations__img">
											<img src="img/svg/beeline.svg" alt="img">
										</div>
										<div class="translations__in">
											<div class="translations__operator"><span>Билайн</span></div>
											<div class="translations__numb">+7 (999) 555-55-55</div>
										</div>
									</a>
								</div>
							</div>
							<!-- item -->
							<div class="item">
								<div class="translations">
									<a href="#" class="translations__reg">
										<i class="icon icon-reg"></i>
									</a>
									<a href="#" class="translations__wrap">
										<div class="translations__img">
											<img src="img/svg/beeline.svg" alt="img">
										</div>
										<div class="translations__in">
											<div class="translations__operator"><span>Билайн-Интернет</span></div>
											<div class="translations__numb">999 999 991</div>
										</div>
									</a>
								</div>
							</div>
							<!-- item -->
							<div class="item">
								<div class="translations">
									<a href="#" class="translations__reg">
										<i class="icon icon-reg"></i>
									</a>
									<a href="#" class="translations__wrap">
										<div class="translations__img">
											<img src="img/svg/mgtc.svg" alt="img">
										</div>
										<div class="translations__in">
											<div class="translations__operator"><span>МГТС</span></div>
											<div class="translations__numb">+7 (495) 515-00-48</div>
										</div>
									</a>
								</div>
							</div>
							<!-- item -->
							<a href="#" class="item">
								<div class="btn-text btn-text_center">ещё</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
 
	{% include "./includes/_footer.twig" %}

{% endblock %}