{% extends "./includes/_layout.twig" %}

{% block content %}
  <!-- out --> 
  <div class="out">

    {% include "./includes/_header.twig" %}

  </div>
 
  {% include "./includes/_footer.twig" %}

{% endblock %}