{% extends "./includes/_layout.twig" %}

{% block content %}
	<!-- out --> 
	<div class="out">

		{% include "./includes/_header.twig" %}
		<!-- l -->
		<div class="l">
			<div class="l__in">
				<!-- l-col1 -->
				<div class="l-col1">
					<!-- wind -->
					<div class="wind">
						<div class="wind__top">
							<span>Кошельки</span>
							<button class="btn btn_greeen" type="button">Пополнить</button>
						</div>
						<div class="wind__in">
							<!-- item -->
							<a href="#" class="item">
								<div class="item__in">
									<div class="item__left">
										<span class="purse">123 456 789</span>
									</div>
									<div class="item__right">
										<div class="sum">
											<div class="sum__bal">10 000</div>
											<span class="sum__curr">₽</span>
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="item__in">
									<div class="item__left">
										<span class="purse">123 456 790</span>
									</div>
									<div class="item__right">
										<div class="sum">
											<div class="sum__bal">25<span class="sum__res">.02</span></div>
											<span class="sum__curr">$</span>
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="item__in">
									<div class="item__left">
										<span class="purse">123 456 791</span>
									</div>
									<div class="item__right">
										<div class="sum">
											<div class="sum__bal">15 000<span class="sum__res">.00</span></div>
											<span class="sum__curr">₽</span>
										</div>
									</div>
									<div class="item__right">
										<div class="sum is-queue">
											В очереди: <span>10 000.43</span> 
											<span class="sum__curr">₽</span>
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="item__in">
									<div class="item__left">
										<span class="purse">123 456 792</span>
									</div>
									<div class="item__right">
										<div class="sum">
											<div class="sum__bal">60 000<span class="sum__res">.00</span></div>
											<span class="sum__curr">₽</span>
										</div>
									</div>
									<div class="item__right">
										<div class="sum is-queue">
											В очереди: <span class="sum__bal">45 368.94</span> 
											<span class="sum__curr">₽</span>
										</div>
									</div>
								</div>
								<div class="item__stat">
									<div class="stat">Кошелек заблокирован</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="btn-text btn-text_center">+ Добавить новый</div>
							</a>
						</div>
					</div>
					<!-- wind -->
					<div class="wind">
						<div class="wind__top">Карты</div>
						<div class="wind__in">
							<!-- item -->
							<a href="#" class="item">
								<div class="item__left">Альфа Банк</div>
								<div class="item__right">
									<div class="card">
										<div class="card__numb">**** 4561</div>
										<div class="card__img">
											<img src="img/svg/mc.svg" alt="img">
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="item__left">Российский Национальный Коммерческий Банк</div>
								<div class="item__right">
									<div class="card">
										<div class="card__numb">**** 9988</div>
										<div class="card__img">
											<img src="img/svg/visa.svg" alt="img">
										</div>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="btn-text btn-text_center">+ Привязать новую</div>
							</a>
						</div>
					</div>
				</div>
				<!-- center -->
				<div class="center">
					<!-- wind -->
					<div class="wind is-gray">
						<div class="wind__top">Выставленные счета</div>
						<div class="wind__in js-accordions">
							<!-- items -->
							<div class="items is-invoice">
								<!-- item -->
								<div class="item js-accord is-active">
									<div class="invoice js-accord-but">
										<div class="invoice__img"><img src="img/svg/one.svg" alt="img"></div>
										<div class="invoice__name">
											<span>OneTwoTrip.Ru</span>
										</div>
										<div class="price">
											<span>25 000.<sub>00</sub> <sub>₽</sub></span>
										</div>
										<div class="time">
											<div class="time__in">
												<i class="icon icon-uni69"></i>
												<span>17:22</span>
											</div>
										</div>
									</div>
									<div class="item__block js-accord-block">
										<form action="">
											<div class="item__text">
												<div class="item__inf">
													<div class="numb-tr">Номер транзакции:</div>
													<p>Описание платежа: </p>
												</div>
												<div class="item__check">
													<div class="numb-tr">1234567890</div>
													<p>Оплата авиабилетов Москва-Барселона-Москва, 25 июня 2016 - 30 июля 2016. Класс: Премиум</p>
												</div>
											</div>
											<div class="item__text">
												<div class="item__row">
													<div class="item__inf">Всего к оплате:</div>
													<div class="item__check">
														<div class="sum">
															<div class="sum__bal">25 000.00 ₽<span class="sum__res">, с учётом комиссии 0% </span></div>
														</div>
													</div>
												</div>
												<div class="item__row">
													<div class="item__inf is-mod">
														<span>Способ оплаты:</span>
													</div>
													<div class="item__check">
														<div class="dip js-dip is-active">
															<input type="text" class="js-dip-input" hidden>
															<div class="dip__text js-dip-text">
																<div class="dip__icon">
																	<img src="img/svg/purse.svg" alt="img">
																</div>
																<div class="dip__val">123 123 123</div>
																<div class="dip__sum">— 10 000 ₽</div>
															</div>
															<div class="dip__block js-dip-block">
																<div class="dip__group">
																	<div class="dip__title">Кошельки</div>
																	<div class="dip__list">
																		<div class="dip__item js-dip-item">
																			<div class="dip__icon">
																				<img src="img/svg/purse.svg" alt="img">
																			</div>
																			<div class="dip__val">123 123 123</div>
																			<div class="dip__sum">— 10 000 ₽</div>
																		</div>
																		<div class="dip__item js-dip-item">
																			<div class="dip__icon">
																				<img src="img/svg/purse.svg" alt="img">
																			</div>
																			<div class="dip__val">123 123 123</div>
																			<div class="dip__sum">— 10 000 ₽</div>
																		</div>
																		<div class="dip__item js-dip-item">
																			<div class="dip__icon">
																				<img src="img/svg/purse.svg" alt="img">
																			</div>
																			<div class="dip__val">123 123 123</div>
																			<div class="dip__sum">— 10 000 ₽</div>
																		</div>
																	</div>
																</div>
																<div class="dip__group">
																	<div class="dip__title">Карты</div>
																	<div class="dip__list">
																		<div class="dip__item js-dip-item">
																			<div class="dip__left">
																				<div class="dip__icon">
																					<img src="img/svg/card.svg" alt="img">
																				</div>
																				<div class="dip__name">Альфа Банк</div>
																			</div>
																			<div class="dip__right">
																				<div class="dip__numb">**** 4567</div>
																				<div class="dip__icon">
																					<img src="img/svg/mc-small.svg" alt="img">
																				</div>
																			</div>
																		</div>
																		<div class="dip__item js-dip-item">
																			<div class="dip__left">
																				<div class="dip__icon">
																					<img src="img/svg/card.svg" alt="img">
																				</div>
																				<div class="dip__name">Российский Национальный Коммерческий Банк</div>
																			</div>
																			<div class="dip__right">
																				<div class="dip__numb">**** 4567</div>
																				<div class="dip__icon">
																					<img src="img/svg/visa-small.svg" alt="img">
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="item__text">
												<div class="item__check">
													<button class="btn" type="submit">Оплатить</button>
													<button class="btn-text btn-text_blue" type="button">Отказаться</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<!-- item -->
								<div class="item js-accord">
									<div class="invoice js-accord-but">
										<div class="invoice__img"><img src="img/svg/alfa.svg" alt="img"></div>
										<div class="invoice__name">
											<span>Альфастрахование</span>
										</div>
										<div class="price">850.<sub>12</sub> <sub>₽</sub></div>
										<div class="time">
											<i class="icon icon-uni69"></i>
											<span>23.08.15</span>
										</div>
									</div>
									<div class="item__block js-accord-block">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla culpa dolor quaerat voluptatibus cum debitis dicta explicabo laudantium mollitia qui voluptatem repellat voluptates dolore, aut? Voluptatibus praesentium ut ratione nesciunt!
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- wind -->
					<div class="wind is-gray">
						<div class="wind__top">
							<span>История операций</span>
							<ul class="tags">
								<li><a href="#">всех типов</a></li>
								<li><a href="#">за всё время</a></li>
							</ul>
						</div>
						<div class="wind__in">
							<!-- item -->
							<div class="item">
								<!-- search -->
								<div class="search">
									<form action="">
										<input type="text" placeholder="Поиск по операциям">
										<button class="search__btn" type="button">
											<i class="icon icon-uni4B"></i>
										</button>
									</form>
								</div>
							</div>
							<!-- item -->
							<a href="#" class="item">
								<!-- operation -->
								<div class="operation">
									<div class="operation__date">
										<div class="operation__inl">
											<date class="date">Сегодня</date>
											<div class="time">17:22</div>
										</div>
									</div>
									<div class="operation__img">
										<img src="img/svg/cheaptrip.svg" alt="img">
									</div>
									<div class="operation__what">
										<div class="operation__numb">123 456 789 </div>
										<div class="operation__name">CHEAPTRIP</div>
									</div>
									<div class="operation__price">
										<div class="price">- 25 000.<sub>00</sub> <sub>₽</sub></div>
									</div>
									<div class="operation__ind is-green">
										<i class="icon icon-uniD9"></i>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<!-- operation -->
								<div class="operation">
									<div class="operation__date">
										<div class="operation__inl">
											<date class="date">23 авг</date>
											<div class="time">14:27</div>
										</div>
									</div>
									<div class="operation__img">
										<img src="img/svg/mailru.svg" alt="img">
									</div>
									<div class="operation__what">
										<div class="operation__numb">123 456 789 </div>
										<div class="operation__name">MailRuGroup</div>
									</div>
									<div class="operation__price">
										<div class="price">- 850.<sub>12</sub> <sub>₽</sub></div>
									</div>
									<div class="operation__ind is-red">
										<i class="icon icon-uniF9"></i>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<!-- operation -->
								<div class="operation">
									<div class="operation__date">
										<div class="operation__inl">
											<date class="date">1 июн</date>
											<div class="time">16:40</div>
										</div>
									</div>
									<div class="operation__img">
										<img src="img/svg/malina.svg" alt="img">
									</div>
									<div class="operation__what">
										<div class="operation__numb">123 456 789 </div>
										<div class="operation__name">Малина</div>
									</div>
									<div class="operation__price">
										<div class="price">25 000.<sub>00</sub> <sub>₽</sub></div>
									</div>
									<div class="operation__ind">
										<i class="icon icon-uni69"></i>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<!-- operation -->
								<div class="operation">
									<div class="operation__date">
										<div class="operation__inl">
											<date class="date">1 июн</date>
											<div class="time">16:40</div>
										</div>
									</div>
									<div class="operation__img">
										<img src="img/svg/raifa.svg" alt="img">
									</div>
									<div class="operation__what">
										<div class="operation__numb">123 456 789 </div>
										<div class="operation__name">Райффайзен Банк</div>
									</div>
									<div class="operation__price">
										<div class="price">25 000.<sub>00</sub> <sub>₽</sub></div>
									</div>
									<div class="operation__ind">
										<i class="icon icon-prev"></i>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<!-- operation -->
								<div class="operation">
									<div class="operation__date">
										<div class="operation__inl">
											<date class="date">1 июн</date>
											<div class="time">16:40</div>
										</div>
									</div>
									<div class="operation__img">
										<img src="img/svg/paysafe.svg" alt="img">
									</div>
									<div class="operation__what">
										<div class="operation__numb">123 456 789 </div>
										<div class="operation__name">PaySafeCard</div>
									</div>
									<div class="operation__price">
										<div class="price">25 000.<sub>00</sub> <sub>₽</sub></div>
									</div>
									<div class="operation__ind">
										<i class="icon icon-uni85"></i>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<!-- operation -->
								<div class="operation">
									<div class="operation__date">
										<div class="operation__inl">
											<date class="date">15 дек 2014</date>
											<div class="time">23:07</div>
										</div>
									</div>
									<div class="operation__img">
										<img src="img/svg/sberbank.svg" alt="img">
									</div>
									<div class="operation__what">
										<div class="operation__numb">123 456 789 </div>
										<div class="operation__name">Перевод с карты на банковский счёт 3991456123456 в Сбербанк РФ</div>
									</div>
									<div class="operation__price">
										<div class="price">25 000.<sub>00</sub> <sub>₽</sub></div>
									</div>
									<div class="operation__ind is-green">
										<i class="icon icon-uniD9"></i>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<!-- operation -->
								<div class="operation">
									<div class="operation__date">
										<div class="operation__inl">
											<date class="date">15 дек 2014</date>
											<div class="time">23:07</div>
										</div>
									</div>
									<div class="operation__img">
										<img src="img/svg/sberbank-last.svg" alt="img">
									</div>
									<div class="operation__what">
										<div class="operation__numb">123 456 789 </div>
										<div class="operation__name">
											<p>Пополнение с карты</p>
											<p>Сбербанк РФ **** 9988</p>
										</div>
									</div>
									<div class="operation__price">
										<div class="price is-green">25 000.<sub>00</sub> <sub>₽</sub></div>
									</div>
									<div class="operation__ind is-green">
										<i class="icon icon-uniD9"></i>
									</div>
								</div>
							</a>
							<!-- item -->
							<a href="#" class="item">
								<div class="btn-text btn-text_center">Показать еще операции</div>
							</a>
						</div>
					</div>
				</div>
				<!-- l-col2 -->
				<div class="l-col2">
					<!-- slider -->
					<div class="slider js-slider-wrap">
						<button class="slider__close js-slider-close" type="button"><i class="icon icon-uniF9"></i></button>
						<div class="arrows"></div>
						<div class="slider__wrap js-slider">
							<div class="slider__slide">
								<div class="slider__in">
									<div class="slider__title">Хорошие новости!</div>
									<div class="slider__img">
										<img src="img/svg/robot.svg" alt="img">
									</div>
									<div class="slider__text">Теперь с помощью Robowallet можно оплачивать счета за коммунальные услуги. А выплату абонентской платы за связь автоматизировать!</div>
								</div>
								<a href="#" class="btn btn_blue">Попробовать сейчас</a>
							</div>
							<div class="slider__slide">
								<div class="slider__in">
									<div class="slider__title">2 Хорошие новости!</div>
									<div class="slider__img">
										<img src="img/svg/robot.svg" alt="img">
									</div>
									<div class="slider__text">2 Теперь с помощью Robowallet можно оплачивать счета за коммунальные услуги. А выплату абонентской платы за связь автоматизировать!</div>
								</div>
								<a href="#" class="btn btn_blue">Попробовать сейчас</a>
							</div>
							<div class="slider__slide">
								<div class="slider__in">
									<div class="slider__title">3 Хорошие новости!</div>
									<div class="slider__img">
										<img src="img/svg/robot.svg" alt="img">
									</div>
									<div class="slider__text">3 Теперь с помощью Robowallet можно оплачивать счета за коммунальные услуги. А выплату абонентской платы за связь автоматизировать!</div>
								</div>
								<a href="#" class="btn btn_blue">Попробовать сейчас</a>
							</div>
						</div>
					</div>
					<!-- wind -->
					<div class="wind">
						<div class="wind__top">Вы часто оплачиваете</div>
						<div class="wind__in">
							<!-- item -->
							<div class="item">
								<div class="translations">
									<a href="#" class="translations__reg is-active">
										<i class="icon icon-reg"></i>
									</a>
									<a href="#" class="translations__wrap">
										<div class="translations__img">
											<img src="img/svg/beeline.svg" alt="img">
										</div>
										<div class="translations__in">
											<div class="translations__operator"><span>Билайн</span></div>
											<div class="translations__numb">+7 (999) 555-55-55</div>
										</div>
									</a>
								</div>
							</div>
							<!-- item -->
							<div class="item">
								<div class="translations">
									<a href="#" class="translations__reg">
										<i class="icon icon-reg"></i>
									</a>
									<a href="#" class="translations__wrap">
										<div class="translations__img">
											<img src="img/svg/beeline.svg" alt="img">
										</div>
										<div class="translations__in">
											<div class="translations__operator"><span>Билайн-Интернет</span></div>
											<div class="translations__numb">999 999 991</div>
										</div>
									</a>
								</div>
							</div>
							<!-- item -->
							<div class="item">
								<div class="translations">
									<a href="#" class="translations__reg">
										<i class="icon icon-reg"></i>
									</a>
									<a href="#" class="translations__wrap">
										<div class="translations__img">
											<img src="img/svg/mgtc.svg" alt="img">
										</div>
										<div class="translations__in">
											<div class="translations__operator"><span>МГТС</span></div>
											<div class="translations__numb">+7 (495) 515-00-48</div>
										</div>
									</a>
								</div>
							</div>
							<!-- item -->
							<a href="#" class="item">
								<div class="btn-text btn-text_center">ещё</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
 
	{% include "./includes/_footer.twig" %}

{% endblock %}