{% extends "./includes/_layout.twig" %}

{% block content %}
	<!-- out --> 
	<div class="out">

		{% include "./includes/_header.twig" %}
		<!-- l -->
		<div class="l">
			<div class="l__in">
				<!-- breadcrumbs -->
				<ul class="breadcrumbs">
					<li><a href="#">Все категории</a></li>
					<li><a href="#">Интернет</a></li>
				</ul>
				<!-- wrap -->
				<div class="wrap">
					<!-- leftbar -->
					<div class="leftbar">
						<!-- title -->
						<div class="title">
							<h3>Перевод между своими кошельками</h3>
							<ul class="title__list">
								<li class="title__item">15 — 15 000 ₽ можно внести</li>
								<li class="title__item">Моментально — срок зачисления</li>
								<li class="title__item">0,5 % комиссия, но не менее 50 ₽</li>
							</ul>
						</div>
						<!-- payment -->
						<div class="payment">
							<form action="">
								<div class="payment__row">
									<div class="payment__label">
										<span>Номер лицевого счета:</span>
									</div>
									<div class="payment__right">
										<div class="payment__text"><span class="score">89099503856</span></div>
									</div>
								</div>
								<div class="payment__row">
									<div class="payment__label">
										<span>Способ оплаты:</span>
									</div>
									<div class="payment__right">
										<div class="payment__text">
											<i class="icon icon_svg">
												<img src="img/svg/purse.svg" alt="img">
											</i>
											<span class="score">123123123 — 10 000 ₽ </span>
										</div>
									</div>
								</div>
								<div class="payment__row">
									<div class="payment__label">
										<span>Сумма:</span>
									</div>
									<div class="payment__right">
										<div class="payment__text"><span class="price">10,00 ₽</span></div>
									</div>
								</div>
								<div class="payment__row">
									<div class="payment__label">
										<span>Будет списано:</span>
									</div>
									<div class="payment__right">
										<div class="payment__text"><span class="price">0,00 ₽</span>, с учётом комиссии 0%</div>
									</div>
								</div>
								<div class="payment__inf"><span>На ваш номер +7909***3856 отправлен SMS-код подтверждения операции, введите его в поле ниже.</span></div>
								<div class="payment__row">
									<div class="payment__label">
									<label for="sms">SMS-код:</label>
									</div>
									<div class="payment__right">
										<div class="payment__sms">
											<input type="text" class="input" name="sms" id="sms" placeholder="Не менее 6 символов">
											<div class="payment__block js-parent-timer">
												<button class="btn-text btn-text_blue js-open-timer" type="button">Выслать еще раз</button>
												<div id="timer" class="timer is-hide js-timer" data-seconds="57" data-munute="10">
													<i class="icon icon-uni69"></i>
													<div class="dash minutes_dash">
														<div class="digit"></div>
														<div class="digit"></div>
													</div>
													<span>:</span>
													<div class="dash seconds_dash">
														<div class="digit"></div>
														<div class="digit"></div>
													</div>
													<span>сек...</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="payment__row">
									<div class="payment__label">
										<a href="#" class="prev">Назад</a>
									</div>
									<div class="payment__right">
										<button class="btn btn_big" type="sybmit">Подтвердить</button>
										<button class="btn-text btn-text_blue" type="button">Отмена</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- rightbar -->
					<div class="rightbar">
						<!-- fasten -->
						<div class="fasten">
							<div class="fasten__img">
								<img src="img/svg/beeline3.svg" alt="img">
							</div>
							<a href="#" class="fasten__link">
								<i class="icon icon-reg"></i>
								<span>Закрепить на главной</span>
							</a>
						</div>
						<h4 class="title-small">Частые вопросы:</h4>
						<ul class="list">
							{% for a in list%}
							<li><a href="#">{{a.item}}</a></li>
							{% endfor %}
						</ul>
						<h4 class="title-small">Оплатите также:</h4>
						{% for a in also %}
							<p><a href="#">{{a.item}}</a></p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	</div>
 
	{% include "./includes/_footer.twig" %}

{% endblock %}