// header
.header
	height: 50px
	background: $d_gray
	&__in
		@extend %in

// logo
.logo
	float: left
	width: 87px
	line-height: 50px
	text-align: center
	display: inline-block
	vertical-align: top
	.icon
		vertical-align: middle