// default layout
.l
	@extend %in
	+clr
	&__in
		padding: 20px 0 25px
		+clr
.l-col1
	float: left
	margin-right: 1.65%
	width: 23.81%
.l-col2
	float: right
	width: 23.7%
	+r(1200)
		display: none
	.slider
		& + .wind
			margin-top: 20px
.center
	float: left
	width: 49.2%
	+r(1200)
		width: 72.9%