.preloader
	padding: 65px 20px 50px
	text-align: center

.loader
	position: relative
	width: 118px
	height: 118px
	vertical-align: top
	display: inline-block
	&__item
		position: absolute
		top: 50%
		left: 50%
		border-radius: 50%
		// border: 1px solid #dee4e7
		box-shadow: 0 0 0 1px #dee4e7
		animation: loader 2.1s infinite linear, loader_border 2.1s infinite linear

		$animation-delay: 0s

		@for $i from 1 through 3
			&:nth-child(#{$i})
				animation-delay: $animation-delay
				$animation-delay: $animation-delay + .7s
		&:first-child
			margin: -59px 0 0 -59px
			width: 118px
			height: 118px
		&:nth-child(2)
			margin: -39px 0 0 -39px
			width: 78px
			height: 78px
		&:nth-child(3)
			margin: -19px 0 0 -19px
			width: 38px
			height: 38px


@keyframes loader
	0%
		transform: scale(1)
	25%
		transform: scale(.5)
	50%
		transform: scale(1)
	75%
		transform: scale(.5)
	100%
		transform: scale(1)

@keyframes loader_border
	0%
		// border-color: #dee4e7
		box-shadow: 0 0 0 1px #dee4e7
	25%
		border-color: darken(#dee4e7, 50%)
		// box-shadow: 0 0 0 1px darken(#dee4e7, 50%)
	50%
		// border-color: #dee4e7
		box-shadow: 0 0 0 1px #dee4e7
	75%
		// border-color: darken(#dee4e7, 50%)
		box-shadow: 0 0 0 1px darken(#dee4e7, 50%)
	100%
		// border-color: #dee4e7
		box-shadow: 0 0 0 1px #dee4e7