$white: #fff
$black: #263238
$d_gray: #263339
$gray: #546d79
$l_gray: #546d79
$green: #9ccc65
$blue: #64b5f6
$d_blue: #42a5f5

$c_sum_cur: #b0bec5
$c_sum_res: #546e7a
$c_sum_queue: #90a4ae
$c_btn_text: #607d8b

$bord_head: #38474f
$bord_wind: #ebeff0
$bord_item: #edeff1
$bord_stat: $c_sum_res

$bg_body: #fafbfc