$white: #fff
$black: #263238
$d_gray: #263339
$gray: #546d79
$l_gray: #546e7a
$d_green: #8bc34a
$green: #9ccc65
$l_green: #a8d277
$blue: #64b5f6
$d_blue: #42a5f5
$d_red: #ff5722
$red: #cf6849
$yellow: #ffc107
$l_yellow: #ffe082

$c_sum_cur: #b0bec5
$c_sum_res: #546e7a
$c_sum_queue: #90a4ae
$c_btn_text: #607d8b
$c_foot: $c_sum_queue
$c_cont: $c_sum_res
$c_reg: $c_btn_text
$c_mail: #2196f3
$c_numb: $c_sum_queue
$c_time: #78909c
$c_wind_gray: $c_btn_text
$c_tags: $c_mail
$c_search: $c_sum_queue
$c_oper_ico: #889ea8
$c_nav: $c_tags
$c_form: $c_sum_cur

$bord_head: #38474f
$bord_wind: #ebeff0
$bord_item: #edeff1
$bord_stat: $c_sum_res
$bord_foot: #eceff1
$bord_nav: $bord_foot
$bord_gray: $bord_foot
$bord_form: #cfd8dc
$bord_act_input: $c_sum_queue

$bg_body: #fafbfc
$bg_dots: #e3f2fd
$bg_wing_gray: #f5f7f8
$bg_nav-act: $c_btn_text
$bg_tooltip: #37474f