<!-- footer -->
<footer class="footer">
	<div class="footer__in">
		<!-- cont -->
		<div class="cont">
			<div class="cont__text">Поддержка</div>
			<div class="cont__item is-tel">
				<i class="icon icon-uniC0"></i>
				<a class="js-tell">8 800 100 55 11</a>
			</div>
			<div class="cont__item">
				<i class="icon icon-uniE0"></i>
				<a href="mailto:support@robowallet.ru">support@robowallet.ru</a>
			</div>
		</div>
		<!-- copy -->
		<div class="copy">Robowallet &copy; 2015</div>
		<!-- lang -->
		<a href="#" class="lang">in English</a>
	</div>
</footer>