<!-- header -->
<header class="header">
	<div class="header__in">
		<div class="logo">
			<i class="icon icon-logo"></i> 
		</div>
		<!-- menu -->
		<ul class="menu js-flex-menu">
			{% for item in menu %}
				{% if loop.first %} 
					<li><a href="#" class="is-active">{{item.name}}</a></li>
				{% else %}
					<li><a href="#">{{item.name}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</header>