<!-- header -->
<header class="header is-notlog">
	<div class="header__in">
		<div class="logo">
			<i class="icon icon-logo"></i> 
		</div>
		<div class="login">
			<a href="#" class="btn btn_blue">Регистрация</a>
			<a href="#" class="btn">Войти</a>
		</div>
	</div>
</header>