@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

.icon-logo { background: url("../img/svg/logo.svg") no-repeat 0 0; background-size: 40px 34px; width: 40px; height: 34px; display: inline-block; }

@font-face { font-family: "icomoon"; src: url("fonts/icomoon.eot?veqfhj"); src: url("fonts/icomoon.eot?veqfhj#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?veqfhj") format("truetype"), url("fonts/icomoon.woff?veqfhj") format("woff"), url("fonts/icomoon.svg?veqfhj#icomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { font-family: "icomoon" !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon.is-red { color: #ff5722; }
.icon.is-green { color: #8bc34a; }

.icon-icon-info:before { content: ""; }

.icon-ruble:before { content: ""; }

.icon-prev:before { content: ""; }

.icon-reg:before { content: ""; }

.icon-uni2A:before { content: ""; }

.icon-uni2B:before { content: ""; }

.icon-uni2C:before { content: ""; }

.icon-uni2D:before { content: ""; }

.icon-uni2E:before { content: ""; }

.icon-uni2F:before { content: ""; }

.icon-uni3A:before { content: ""; }

.icon-uni3B:before { content: ""; }

.icon-uni3C:before { content: ""; }

.icon-uni3D:before { content: ""; }

.icon-uni3E:before { content: ""; }

.icon-uni3F:before { content: ""; }

.icon-uni4A:before { content: ""; }

.icon-uni4B:before { content: ""; }

.icon-uni4C:before { content: ""; }

.icon-uni4D:before { content: ""; }

.icon-uni4E:before { content: ""; }

.icon-uni4F:before { content: ""; }

.icon-uni5A:before { content: ""; }

.icon-uni5B:before { content: ""; }

.icon-uni5C:before { content: ""; }

.icon-uni5D:before { content: ""; }

.icon-uni5E:before { content: ""; }

.icon-uni5F:before { content: ""; }

.icon-uni6A:before { content: ""; }

.icon-uni6B:before { content: ""; }

.icon-uni6C:before { content: ""; }

.icon-uni6D:before { content: ""; }

.icon-uni6E:before { content: ""; }

.icon-uni6F:before { content: ""; }

.icon-uni7A:before { content: ""; }

.icon-uni7B:before { content: ""; }

.icon-uni7C:before { content: ""; }

.icon-uni7D:before { content: ""; }

.icon-uni7E:before { content: ""; }

.icon-uni7F:before { content: ""; }

.icon-uni8A:before { content: ""; }

.icon-uni8B:before { content: ""; }

.icon-uni8C:before { content: ""; }

.icon-uni8D:before { content: ""; }

.icon-uni8E:before { content: ""; }

.icon-uni8F:before { content: ""; }

.icon-uni20AC:before { content: ""; }

.icon-uni21:before { content: ""; }

.icon-uni22:before { content: ""; }

.icon-uni23:before { content: ""; }

.icon-uni24:before { content: ""; }

.icon-uni25FC:before { content: ""; }

.icon-uni26:before { content: ""; }

.icon-uni27:before { content: ""; }

.icon-uni28:before { content: ""; }

.icon-uni29:before { content: ""; }

.icon-uni30:before { content: ""; }

.icon-uni31:before { content: ""; }

.icon-uni32:before { content: ""; }

.icon-uni33:before { content: ""; }

.icon-uni34:before { content: ""; }

.icon-uni35:before { content: ""; }

.icon-uni36:before { content: ""; }

.icon-uni37:before { content: ""; }

.icon-uni38:before { content: ""; }

.icon-uni39:before { content: ""; }

.icon-uni40:before { content: ""; }

.icon-uni41:before { content: ""; }

.icon-uni42:before { content: ""; }

.icon-uni43:before { content: ""; }

.icon-uni44:before { content: ""; }

.icon-uni45:before { content: ""; }

.icon-uni46:before { content: ""; }

.icon-uni47:before { content: ""; }

.icon-uni48:before { content: ""; }

.icon-uni49:before { content: ""; }

.icon-uni50:before { content: ""; }

.icon-uni51:before { content: ""; }

.icon-uni52:before { content: ""; }

.icon-uni53:before { content: ""; }

.icon-uni54:before { content: ""; }

.icon-uni55:before { content: ""; }

.icon-uni56:before { content: ""; }

.icon-uni57:before { content: ""; }

.icon-uni58:before { content: ""; }

.icon-uni59:before { content: ""; }

.icon-uni60:before { content: ""; }

.icon-uni61:before { content: ""; }

.icon-uni62:before { content: ""; }

.icon-uni63:before { content: ""; }

.icon-uni64:before { content: ""; }

.icon-uni65:before { content: ""; }

.icon-uni66:before { content: ""; }

.icon-uni67:before { content: ""; }

.icon-uni68:before { content: ""; }

.icon-uni69:before { content: ""; }

.icon-uni70:before { content: ""; }

.icon-uni71:before { content: ""; }

.icon-uni72:before { content: ""; }

.icon-uni73:before { content: ""; }

.icon-uni74:before { content: ""; }

.icon-uni75:before { content: ""; }

.icon-uni76:before { content: ""; }

.icon-uni77:before { content: ""; }

.icon-uni78:before { content: ""; }

.icon-uni79:before { content: ""; }

.icon-uni80:before { content: ""; }

.icon-uni81:before { content: ""; }

.icon-uni82:before { content: ""; }

.icon-uni83:before { content: ""; }

.icon-uni84:before { content: ""; }

.icon-uni85:before { content: ""; }

.icon-uni86:before { content: ""; }

.icon-uni87:before { content: ""; }

.icon-uni88:before { content: ""; }

.icon-uni89:before { content: ""; }

.icon-uni90:before { content: ""; }

.icon-uni91:before { content: ""; }

.icon-uni92:before { content: ""; }

.icon-uni93:before { content: ""; }

.icon-uni94:before { content: ""; }

.icon-uni95:before { content: ""; }

.icon-uni96:before { content: ""; }

.icon-uni97:before { content: ""; }

.icon-uni98:before { content: ""; }

.icon-uni2010:before { content: ""; }

.icon-uni2011:before { content: ""; }

.icon-uni2012:before { content: ""; }

.icon-uni2013:before { content: ""; }

.icon-uni2014:before { content: ""; }

.icon-uni2122:before { content: ""; }

.icon-uniA3:before { content: ""; }

.icon-uniA9:before { content: ""; }

.icon-uniAB:before { content: ""; }

.icon-uniAD:before { content: ""; }

.icon-uniAE:before { content: ""; }

.icon-uniBB:before { content: ""; }

.icon-uniC0:before { content: ""; }

.icon-uniC1:before { content: ""; }

.icon-uniC3:before { content: ""; }

.icon-uniC4:before { content: ""; }

.icon-uniC7:before { content: ""; }

.icon-uniC8:before { content: ""; }

.icon-uniC9:before { content: ""; }

.icon-uniCB:before { content: ""; }

.icon-uniCC:before { content: ""; }

.icon-uniCD:before { content: ""; }

.icon-uniCF:before { content: ""; }

.icon-uniD2:before { content: ""; }

.icon-uniD3:before { content: ""; }

.icon-uniD5:before { content: ""; }

.icon-uniD6:before { content: ""; }

.icon-uniD9:before { content: ""; }

.icon-uniDA:before { content: ""; }

.icon-uniDC:before { content: ""; }

.icon-uniE0:before { content: ""; }

.icon-uniE1:before { content: ""; }

.icon-uniE3:before { content: ""; }

.icon-uniE4:before { content: ""; }

.icon-uniE7:before { content: ""; }

.icon-uniE8:before { content: ""; }

.icon-uniE9:before { content: ""; }

.icon-uniEB:before { content: ""; }

.icon-uniEC:before { content: ""; }

.icon-uniED:before { content: ""; }

.icon-uniEF:before { content: ""; }

.icon-uniF2:before { content: ""; }

.icon-uniF3:before { content: ""; }

.icon-uniF5:before { content: ""; }

.icon-uniF6:before { content: ""; }

.icon-uniF9:before { content: ""; }

.icon-uniFA:before { content: ""; }

.icon-uniFC:before { content: ""; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.slick-slider { position: relative; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; -webkit-box-shadow: none; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; -webkit-border-radius: 50%; border-radius: 50%; }
.slick-dots button:hover { -webkit-box-shadow: none; box-shadow: none; }

@font-face { font-family: "Roboto Light"; src: url("fonts/Roboto-Light.eot"); src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Light.woff2") format("woff2"), url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Roboto Regular"; src: url("fonts/Roboto-Regular.eot"); src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Roboto Thin"; src: url("fonts/Roboto-Thin.eot"); src: url("fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Thin.woff2") format("woff2"), url("fonts/Roboto-Thin.woff") format("woff"), url("fonts/Roboto-Thin.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.in, .l, .header__in, .footer__in, .search__in { margin: 0 auto; padding: 0 10px; max-width: 1200px; *zoom: 1; }
.in:after, .l:after, .header__in:after, .footer__in:after, .search__in:after { content: " "; display: table; clear: both; }

body { font-family: "Roboto Light", Arial, sans-serif; font-size: 14px; line-height: 1.7; font-size: 14px; background: #fafbfc; }

a { text-decoration: none; }

.out { padding-bottom: 50px; height: 100%; height: auto; min-height: 100%; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l__in { padding: 20px 0 25px; *zoom: 1; }
.l__in:after { content: " "; display: table; clear: both; }

.l-col1 { float: left; margin-right: 1.65%; width: 23.81%; }

.l-col2 { float: right; width: 23.7%; }
.l-col2 .slider + .wind { margin-top: 20px; }

.center { float: left; width: 49.2%; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.leftbar { float: left; padding-right: 60px; width: 71.3%; border-right: 1px solid #eceff1; }

.rightbar { float: right; width: 23.8%; line-height: 1.45; }
.rightbar .title-small { margin: 43px 0 0; }
.rightbar a { color: #2196f3; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; }
.rightbar a:hover { border-color: #2196f3; }

.header { height: 50px; background: #263339; }

.logo { float: left; padding-left: 5px; width: 70px; line-height: 50px; display: inline-block; vertical-align: top; }
.logo .icon { vertical-align: middle; }

.menu { float: left; font-size: 0; }
.menu a { padding: 0 18px; color: #fff; height: 50px; line-height: 50px; font-size: 14px; -webkit-transition: background 0.2s; transition: background 0.2s; border-right: 1px solid #38474f; display: inline-block; }
.menu a:hover, .menu a.is-active { background: #546e7a; }
.menu a:first-child { border-left: 1px solid #38474f; }

.user { float: right; -webkit-transition: background 0.2s; transition: background 0.2s; }
.user:hover, .user.is-active { background: #546e7a; }
.user__in { position: relative; height: 50px; color: #fff; line-height: 50px; border-left: 1px solid #38474f; display: block; }
.user__name { padding: 0 15px 0 35px; display: block; }
.user .icon { position: absolute; left: 12px; top: 50%; margin-top: -webkit-calc(-19px/2); margin-top: calc(-19px/2); font-size: 19px; }

.footer { margin-top: -50px; padding: 13px 0; color: #90a4ae; text-align: center; border-top: 1px solid #eceff1; }

.copy { float: left; }

.cont { margin-right: 22px; vertical-align: top; color: #546e7a; display: inline-block; }
.cont__text, .cont__item { vertical-align: top; display: inline-block; }
.cont__text .icon, .cont__item .icon { margin-right: 10px; font-size: 20px; vertical-align: middle; }
.cont__text a, .cont__item a { color: #2196f3; line-height: 1.4; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; display: inline-block; }
.cont__text a:hover, .cont__item a:hover { border-color: #2196f3; }
.cont__text { margin-right: 122px; }
.cont__item { margin-left: 72px; }

.lang { float: right; color: #90a4ae; line-height: 1.4; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; }
.lang:hover { border-color: #90a4ae; }

.wind { overflow: hidden; -webkit-box-shadow: 0 0 6px rgba(84, 109, 121, 0.15); box-shadow: 0 0 6px rgba(84, 109, 121, 0.15); -webkit-border-radius: 2px; border-radius: 2px; background: #fff; }
.wind.is-gray .wind__top { color: #607d8b; border-bottom: 1px solid #edeff1; background: #f5f7f8; }
.wind.is-yellow { -webkit-box-shadow: none; box-shadow: none; border: 1px solid #ffe082; }
.wind.is-yellow .wind__top { color: #607d8b; font-family: "Roboto Regular", Arial, sans-serif; background: #ffe082; }
.wind + .wind { margin-top: 20px; }
.wind__top { position: relative; padding: 10px; color: #fff; line-height: 1.45; background: #546d79; }
.wind__top .btn { position: absolute; top: 0; right: 0; }
.wind__top .tags { margin-left: 15px; vertical-align: top; display: inline-block; }
.wind__in { *zoom: 1; }
.wind__in:after { content: " "; display: table; clear: both; }
.wind__in .status { float: left; width: 50%; }

.item { padding: 8px 10px; border-top: 1px solid #edeff1; display: block; *zoom: 1; }
.item:after { content: " "; display: table; clear: both; }
.item:first-child { border-top: none; }
.item__in { *zoom: 1; }
.item__in:after { content: " "; display: table; clear: both; }
.item__left { float: left; max-width: 134px; }
.item__right { float: right; text-align: right; max-width: 146px; }
.item__stat { margin-top: 7px; padding-bottom: 2px; text-align: center; }
.item .sum + .sum { margin-top: 3px; }

a.item { color: #263238; }

.sum.is-queue { color: #90a4ae; }
.sum.is-queue .sum__curr { color: #90a4ae; }
.sum__bal { vertical-align: top; display: inline-block; }
.sum__res { color: #546e7a; }
.sum__curr { color: #b0bec5; }

.stat { padding: 0 7px; line-height: 1.4; vertical-align: top; -webkit-border-radius: 1px; border-radius: 1px; border: 1px solid #546e7a; display: inline-block; }

.btn { padding: 13px 20px; color: #fff; font-family: "Roboto Light", Arial, sans-serif; font-size: 14px; line-height: 1; text-align: center; -webkit-transition: background 0.2s, color 0.2s; transition: background 0.2s, color 0.2s; background: #9ccc65; display: inline-block; }
.btn:hover { background: #699833; }
.btn:active { background: #4f7226; }
.btn_blue { background: #42a5f5; }
.btn_blue:hover { background: #0b72c6; }
.btn_blue:active { background: #085796; }
.btn_white { color: #263238; background: #fff; }
.btn_white:hover { color: #fff; background: #42a5f5; }
.btn_white:active { color: #fff; background: #0b72c6; }
.btn_gray { background: #90a4ae; }
.btn_gray:hover { background: #5b727d; }
.btn_gray:active { background: #46575f; }

.btn-text { position: relative; left: 50%; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); color: #607d8b; display: inline-block; }
.btn-text:hover span { border-color: #607d8b; }
.btn-text span { line-height: 1.3; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; display: inline-block; }

.input { padding: 0 8px; height: 40px; width: 100%; font-size: 14px; font-family: "Roboto Light", Arial, sans-serif; border: 1px solid #cfd8dc; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; display: block; }
.input:focus { border-color: #90a4ae; }
.input:focus::-webkit-input-placeholder { -webkit-transform: translate(0, -20px); transform: translate(0, -20px); opacity: 0; }
.input:focus::-moz-placeholder { transform: translate(0, -20px); opacity: 0; }
.input:focus:-ms-input-placeholder { -ms-transform: translate(0, -20px); transform: translate(0, -20px); opacity: 0; }
.input:focus::placeholder { -webkit-transform: translate(0, -20px); -ms-transform: translate(0, -20px); transform: translate(0, -20px); opacity: 0; }
.input::-webkit-input-placeholder { color: #b0bec5; -webkit-transition: opacity 0.2s, -webkit-transform 0.2s; transition: opacity 0.2s, transform 0.2s; }
.input::-moz-placeholder { color: #b0bec5; transition: opacity 0.2s, transform 0.2s; }
.input:-ms-input-placeholder { color: #b0bec5; transition: opacity 0.2s, transform 0.2s; }
.input::placeholder { color: #b0bec5; -webkit-transition: opacity 0.2s, -webkit-transform 0.2s; transition: opacity 0.2s, transform 0.2s; }

.select { position: relative; }
.select:before { position: absolute; content: ""; top: 50%; right: 10px; margin-top: -3px; width: 0px; height: 0px; border-style: solid; border-width: 7px 5px 0 5px; border-color: #263238 transparent transparent transparent; }
.select__icon { position: absolute; width: 25px; top: 50%; left: 11px; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
.select__icon img { width: 100%; display: block; }
.select select { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; opacity: 0; cursor: pointer; display: block; }
.select select::-moz-focus-inner { border: 0; padding: 0; }
@-moz-document url-prefix() { .select select { padding: 15px 0 !important; } }
.select .input { padding-left: 45px; }

.title { padding-bottom: 15px; font-family: "Roboto Light", Arial, sans-serif; font-size: 18px; line-height: 1.4; font-weight: normal; border-bottom: 1px solid #eceff1; }
.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 { font-family: "Roboto Light", Arial, sans-serif; font-weight: normal; }
.title__list { margin-top: 5px; color: #90a4ae; font-size: 14px; }
.title__item { position: relative; margin-left: 9px; padding-left: 15px; vertical-align: top; display: inline-block; }
.title__item:before { position: absolute; content: ""; top: 50%; left: 0; height: 4px; width: 4px; margin-top: -2px; -webkit-border-radius: 50%; border-radius: 50%; background: #90a4ae; }
.title__item:first-child { margin-left: 0; padding-left: 0; }
.title__item:first-child:before { display: none; }

.title-small { font-size: 14px; font-family: "Roboto Light", Arial, sans-serif; }

.list { margin-top: 20px; }
.list li { position: relative; margin-top: 25px; text-indent: 7px; line-height: 1.45; display: block; }
.list li:first-child { margin-top: 0; }
.list li:before { position: absolute; content: ""; top: 8px; left: 0; height: 4px; width: 4px; -webkit-border-radius: 50%; border-radius: 50%; background: #2196f3; }
.list a { color: #2196f3; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; }
.list a:hover { border-color: #2196f3; }

.prev { position: relative; padding-left: 18px; color: #2196f3; -webkit-transition: color 0.2s; transition: color 0.2s; display: inline-block; }
.prev:hover { color: #0c7cd5; }
.prev:hover:before { -webkit-transform: translate(-4px, 0); -ms-transform: translate(-4px, 0); transform: translate(-4px, 0); width: 0px; height: 0px; border-style: solid; border-width: 5.5px 7px 5.5px 0; border-color: transparent #0c7cd5 transparent transparent; }
.prev:before { position: absolute; content: ""; top: 50%; left: 0; margin-top: -6px; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 0.2s, border-color 0.2s; transition: transform 0.2s, border-color 0.2s; width: 0px; height: 0px; border-style: solid; border-width: 5.5px 7px 5.5px 0; border-color: transparent #2196f3 transparent transparent; }

.card__numb, .card__img { display: inline-block; }
.card__numb { vertical-align: top; }
.card__img { position: relative; max-width: 33px; font-size: 0; }
.card__img img { width: 100%; display: block; }

.slider { position: relative; color: #fff; overflow: hidden; -webkit-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; background: #64b5f6; }
.slider__close { position: absolute; top: 12px; right: 10px; color: #fff; font-size: 20px; line-height: 1; z-index: 1; opacity: 0.5; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; background: transparent; }
.slider__close:hover { opacity: 1; }
.slider__slide { width: 100%; }
.slider__in { padding: 10px 10px 20px; }
.slider__title { margin-bottom: 17px; }
.slider__img { max-height: 150px; font-size: 0; text-align: center; }
.slider__img img { display: inline-block; height: 100%; }
.slider__text { margin-top: 20px; line-height: 1.45; }
.slider .btn { width: 100%; text-align: center; }

.arrows { position: absolute; top: 13px; right: 35px; line-height: 1; z-index: 1; white-space: nowrap; *zoom: 1; }
.arrows:after { content: " "; display: table; clear: both; }
.arrows .slick-dots { position: relative; float: left; margin: 0 2px; line-height: 15px; }
.arrows .slick-dots li { vertical-align: middle; }
.arrows .slick-dots li.slick-active button { opacity: 1; }
.arrows .slick-dots button { opacity: 0.25; background: #e3f2fd; }

.arrow { position: relative; color: #fff; font-size: 16px; z-index: 30; }
.arrow.is-next { float: right; }
.arrow.is-prev { float: left; }

.translations { position: relative; }
.translations__reg { position: absolute; top: 4px; right: -2px; color: #607d8b; opacity: 0.3; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; background: transparent; }
.translations__reg:hover, .translations__reg.is-active { opacity: 1; }
.translations__reg .icon { font-size: 16px; display: block; }
.translations__wrap { color: #263238; display: block; *zoom: 1; }
.translations__wrap:after { content: " "; display: table; clear: both; }
.translations__img { float: left; margin-right: 10px; width: 60px; height: 60px; }
.translations__img img { display: block; }
.translations__in { overflow: hidden; }
.translations__operator { margin-top: 10px; }
.translations__operator span { -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; }
.translations__numb { color: #90a4ae; }

a.translations__wrap:hover .translations__operator span { border-color: #90a4ae; }

.invoice { position: relative; line-height: 60px; *zoom: 1; }
.invoice:after { content: " "; display: table; clear: both; }
.invoice__img { float: left; margin-right: 30px; width: 60px; line-height: 1; }
.invoice__img img { display: block; }
.invoice__name { float: left; width: -webkit-calc(68% - 90px); width: calc(68% - 90px); }
.invoice__name span, .invoice__name .time__in, .invoice .time span, .invoice .time .time__in, .invoice .price span, .invoice .price .time__in { line-height: 1.4; vertical-align: middle; display: inline-block; }
.invoice .time { float: right; width: 13.5%; }
.invoice .price { float: right; padding-left: 5px; width: 17%; text-align: right; }

.time { font-size: 12px; color: #78909c; }
.time .icon { margin-right: 3px; font-size: 20px; vertical-align: middle; }

.price sub { font-size: 12px; }

.tags { font-size: 0; }
.tags li { margin-left: 15px; font-size: 14px; display: inline-block; }
.tags li:first-child { margin-left: 0; }
.tags a { color: #2196f3; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px dotted #2196f3; }
.tags a:hover { border-color: transparent; }

.search { position: relative; }
.search.is-white { background: #fff; border-bottom: 1px solid #cfd8dc; }
.search input { padding: 0 10px 0 28px; height: 19px; width: 100%; font-size: 14px; color: #90a4ae; overflow: hidden; font-family: "Roboto Light", Arial, sans-serif; }
.search input:focus::-webkit-input-placeholder { -webkit-transform: translate(0, -20px); transform: translate(0, -20px); opacity: 0; }
.search input:focus::-moz-placeholder { transform: translate(0, -20px); opacity: 0; }
.search input:focus:-ms-input-placeholder { -ms-transform: translate(0, -20px); transform: translate(0, -20px); opacity: 0; }
.search input:focus::placeholder { -webkit-transform: translate(0, -20px); -ms-transform: translate(0, -20px); transform: translate(0, -20px); opacity: 0; }
.search input::-webkit-input-placeholder { color: #90a4ae; line-height: 18px; -webkit-transition: opacity 0.2s, -webkit-transform 0.2s; transition: opacity 0.2s, transform 0.2s; }
.search input::-moz-placeholder { color: #90a4ae; line-height: 18px; transition: opacity 0.2s, transform 0.2s; }
.search input:-ms-input-placeholder { color: #90a4ae; line-height: 18px; transition: opacity 0.2s, transform 0.2s; }
.search input::placeholder { color: #90a4ae; line-height: 18px; -webkit-transition: opacity 0.2s, -webkit-transform 0.2s; transition: opacity 0.2s, transform 0.2s; }
.search__btn { position: absolute; top: 3px; left: 0; opacity: 0.7; color: #607d8b; line-height: 1; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; background: transparent; }
.search__btn:hover { opacity: 1; }
.search__in { padding: 13px 10px 14px 28px; }
.search__in input { padding-left: 52px; }
.search__in .search__btn { color: #263238; opacity: 0.75; }
.search__in .search__btn:hover { opacity: 1; }
.search__form { position: relative; overflow: hidden; }
.search .icon { font-size: 20px; }
.search .location { float: right; }

.location { color: #2196f3; font-family: "Roboto Thin", Arial, sans-serif; }
.location:hover .location__text { border-color: transparent; }
.location .icon { margin-right: 7px; vertical-align: middle; }
.location__text { -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px dotted #2196f3; }

.operation { padding: 5px 0; *zoom: 1; }
.operation:after { content: " "; display: table; clear: both; }
.operation__date { width: 16%; color: #78909c; text-align: center; font-size: 12px; line-height: 50px; }
.operation__inl { line-height: 1.4; vertical-align: middle; display: inline-block; }
.operation__img { margin-right: 35px; width: 50px; }
.operation__img img { display: block; }
.operation__what { width: -webkit-calc(61% - 85px); width: calc(61% - 85px); }
.operation__numb { color: #90a4ae; font-size: 11px; }
.operation__name { line-height: 1.4; }
.operation__ind { width: 20px; color: #889ea8; line-height: 50px; }
.operation__ind .icon { font-size: 20px; vertical-align: middle; }
.operation__price { width: -webkit-calc(22% - 20px); width: calc(22% - 20px); line-height: 50px; text-align: right; }
.operation__price .price { vertical-align: middle; display: inline-block; }
.operation__date, .operation__img, .operation__what { float: left; }
.operation__price, .operation__ind { float: right; }
.operation .is-green { color: #a8d277; }
.operation .is-red { color: #cf6849; }

.nav { line-height: 1.45; -webkit-box-shadow: 0 0 6px rgba(84, 109, 121, 0.15); box-shadow: 0 0 6px rgba(84, 109, 121, 0.15); -webkit-border-radius: 2px; border-radius: 2px; background: #fff; }
.nav__item { position: relative; -webkit-transition: background 0.2s; transition: background 0.2s; border-top: 1px solid #eceff1; }
.nav__item:hover, .nav__item.is-active { background: #607d8b; }
.nav__item:hover:before, .nav__item.is-active:before { width: 0px; height: 0px; border-style: solid; border-width: 20px 0 20px 10px; border-color: transparent transparent transparent #607d8b; }
.nav__item:hover a, .nav__item.is-active a { color: #fff; }
.nav__item:before { position: absolute; content: ""; top: 0; left: 100%; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; width: 0px; height: 0px; border-style: solid; border-width: 20px 0 20px 10px; border-color: transparent transparent transparent transparent; }
.nav__item:first-child { border-top: none; }
.nav a { padding: 10px; color: #2196f3; -webkit-transition: color 0.2s; transition: color 0.2s; }
.nav__item, .nav a { display: block; }

.status { padding-top: 39px; border-left: 1px solid #eceff1; }
.status:first-child { border-left: none; }
.status .icon { font-size: 16px; }
.status__img { height: 150px; font-size: 0; text-align: center; }
.status__img img { height: 100%; }
.status__in { padding: 15px 18px 10px; }
.status__title { margin-bottom: 15px; text-align: center; font-size: 14px; font-family: "Roboto Light", Arial, sans-serif; }
.status__title .icon { vertical-align: middle; }
.status__row { line-height: 1.45; *zoom: 1; }
.status__row:after { content: " "; display: table; clear: both; }
.status__left { float: left; color: #607d8b; }
.status__right { float: right; }
.status__but { border-top: 1px solid #eceff1; }
.status__but .btn { text-align: center; width: 100%; }

.save__in { padding: 20px; *zoom: 1; }
.save__in:after { content: " "; display: table; clear: both; }
.save__input { overflow: hidden; }
.save .btn { float: right; margin-left: 20px; min-width: 160px; }

.form { padding: 20px; }
.form .btn { min-width: 180px; }
.form__row { position: relative; margin-top: 20px; *zoom: 1; }
.form__row:after { content: " "; display: table; clear: both; }
.form__row:first-child { margin-top: 0; }
.form__row .tooltip { position: absolute; left: 50%; bottom: 100%; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.form__label { float: left; padding-right: 10px; width: 180px; line-height: 38px; }
.form__label label, .form__label span { line-height: 1.4; vertical-align: middle; display: inline-block; }
.form__label label { cursor: pointer; }
.form__right { float: right; width: -webkit-calc(100% - 180px); width: calc(100% - 180px); *zoom: 1; }
.form__right:after { content: " "; display: table; clear: both; }
.form__col { margin-left: 20px; float: left; width: 80px; }
.form__col:first-child { margin-left: 0; }

.tooltip { padding: 8px 22px; font-family: "Roboto Regular", Arial, sans-serif; color: #fff; -webkit-box-shadow: 0px 4px 5px rgba(38, 50, 56, 0.5); box-shadow: 0px 4px 5px rgba(38, 50, 56, 0.5); background: #37474f; display: none; }
.tooltip.is-active { display: inline-block; }

.inf { padding: 10px 5px; line-height: 1.45; }
.inf__row { position: relative; margin-top: 20px; padding-left: 22px; }
.inf__row:first-child { margin-top: 0; }
.inf .icon { position: absolute; top: 0; left: 0; color: #ffc107; font-size: 20px; }

.breadcrumbs { margin-bottom: 27px; color: #2196f3; line-height: 1.45; }
.breadcrumbs li { position: relative; margin-left: 10px; padding-left: 14px; vertical-align: top; display: inline-block; }
.breadcrumbs li:before { position: absolute; content: "›"; top: 50%; left: 0; margin-top: -7px; color: #cfd8dc; line-height: 12px; font-size: 20px; }
.breadcrumbs li:first-child { margin-left: 0; padding-left: 0; }
.breadcrumbs li:first-child:before { display: none; }
.breadcrumbs a { color: #2196f3; -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; }
.breadcrumbs a:hover { border-color: #2196f3; }

.categories { margin-top: 19px; font-size: 0; *zoom: 1; }
.categories:after { content: " "; display: table; clear: both; }
.categories__item { margin: 0 2% 2% 0; padding: 10px; width: 23.5%; font-size: 14px; line-height: 60px; vertical-align: top; -webkit-box-shadow: 0 0 6px rgba(84, 109, 121, 0.15); box-shadow: 0 0 6px rgba(84, 109, 121, 0.15); -webkit-border-radius: 2px; border-radius: 2px; background: #fff; display: inline-block; *zoom: 1; }
.categories__item:after { content: " "; display: table; clear: both; }
.categories__item:nth-child(4n+4) { margin-right: 0; }
.categories__img { float: left; margin-right: 10px; height: 60px; }
.categories__img img { display: block; height: 100%; }
.categories__name { line-height: 1.45; vertical-align: middle; display: inline-block; }

.alt { position: relative; margin: 95px auto 0; max-width: 580px; color: #fff; line-height: 1.45; background: #b0bec5; -webkit-border-radius: 2px; border-radius: 2px; }
.alt__close { position: absolute; top: 20px; right: 20px; line-height: 1; font-size: 20px; color: #455a64; -webkit-transition: color 0.2s; transition: color 0.2s; background: transparent; }
.alt__close:hover { color: #1b2428; }
.alt__in { padding: 20px 20px 10px; }
.alt__wrap { *zoom: 1; }
.alt__wrap:after { content: " "; display: table; clear: both; }
.alt__img { float: left; margin-right: 20px; height: 150px; }
.alt__img img { height: 100%; display: block; }
.alt__text { overflow: hidden; }
.alt__title { margin-bottom: 25px; font-family: "Roboto Light", Arial, sans-serif; }
.alt__input { margin-top: 20px; }
.alt__input .input { text-align: center; }
.alt .btn { width: 100%; }

.payment { padding-top: 34px; }
.payment__row { margin-top: 20px; *zoom: 1; }
.payment__row:after { content: " "; display: table; clear: both; }
.payment__row:first-child { margin-top: 0; }
.payment__label { float: left; width: 200px; line-height: 40px; }
.payment__label span, .payment__label label, .payment__label a { line-height: 1.4; vertical-align: middle; display: inline-block; }
.payment__right { float: right; position: relative; line-height: 40px; width: -webkit-calc(100% - 200px); width: calc(100% - 200px); }
.payment__icon { position: absolute; top: 50%; right: 9px; min-width: 22px; font-size: 22px; line-height: 1; color: #90a4ae; z-index: 1; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); text-align: center; }
.payment__icon .icon-ruble { font-size: 14px; }
.payment__new { position: relative; margin: 9px 0 0 20px; padding-left: 28px; color: #2196f3; line-height: 1.4; vertical-align: top; display: inline-block; }
.payment__new:hover span { border-color: #2196f3; }
.payment__new:before { position: absolute; content: ""; top: 50%; left: 0; margin-top: -8px; background: url("../img/svg/plus.svg") no-repeat 0 0; background-size: 15px 15px; width: 15px; height: 15px; display: inline-block; }
.payment__new span { -webkit-transition: border-color 0.2s; transition: border-color 0.2s; border-bottom: 1px solid transparent; }
.payment__text { color: #90a4ae; line-height: 1.4; vertical-align: middle; display: inline-block; }
.payment__text .price { color: #263238; }
.payment .select { width: 280px; vertical-align: top; display: inline-block; }
.payment .btn { min-width: 280px; }

.fasten__img { margin-right: 9px; width: 60px; vertical-align: top; display: inline-block; }
.fasten__img img { width: 100%; display: block; }
.fasten .fasten__link { position: relative; margin-top: 10px; padding-left: 25px; color: #2196f3; -webkit-transition: color 0.2s; transition: color 0.2s; border-bottom: none; vertical-align: top; display: inline-block; }
.fasten .fasten__link:hover { color: #0960a5; }
.fasten .fasten__link .icon { position: absolute; left: 0; top: 2px; font-size: 16px; }

.transfer .title { margin: 20px 0 35px; padding: 0; border: none; text-align: center; }
.transfer__in { font-size: 0; *zoom: 1; }
.transfer__in:after { content: " "; display: table; clear: both; }
.transfer__item { position: relative; padding: 10px 10px 65px; margin-top: -1px; width: 25%; color: #263238; vertical-align: top; text-align: center; -webkit-transition: border-color 0.2s, -webkit-box-shadow 0.2s; transition: border-color 0.2s, box-shadow 0.2s; border: 1px solid #eceff1; display: inline-block; }
.transfer__item:hover { z-index: 1; -webkit-box-shadow: 0 0 6px rgba(84, 109, 121, 0.15); box-shadow: 0 0 6px rgba(84, 109, 121, 0.15); border-color: #dde3e6; }
.transfer__item + .transfer__item { margin-left: -1px; }
.transfer__item:nth-child(4n-3) { margin-left: 0; }
.transfer__item:nth-child(-n+4) { margin-top: 0; }
.transfer__top { height: 200px; line-height: 200px; }
.transfer__icon { line-height: 1; vertical-align: middle; display: inline-block; }
.transfer__text { font-size: 14px; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
 *{ -webkit-text-size-adjust: none; } }
@media only screen and (max-width: 1200px){
 .l-col2{ display: none; }
 .center{ width: 72.9%; } }
@media screen and (-webkit-min-device-pixel-ratio: 0){
 .select select{ height: 40px; line-height: 40px; background: #f4f4f4; } }



/*# sourceMappingURL=screen.css.map */
